# Author: Ryan Kroker (ryan.kroker@gmail.com)
# Version: 1.0
# Created: 3-23-2026
# Last Updated: 4-2-2026
# Purpose: Lists the Python packages required to install and run the application.

Flask
Flask-SQLAlchemy
Flask-WTF
WTForms
email-validator
python-dotenv
pandas
openpyxl